<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Meine Wortuhr
    </ion-title>
    <ion-button slot="secondary" color="none" (click)="presentAlert()">
      <ion-icon  id="wifi-status" name="wifi" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container"  class="center">

    <!-- Color Picker -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Farbe</ion-card-title>
        <ion-card-subtitle>Farbe der Uhr anpassen</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <center><div id="picker" on-touchend="updateRGB()"></div></center>
      </ion-card-content>
    </ion-card>

    <!-- Nachtschaltung -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Zeitschaltung</ion-card-title>
        <ion-card-subtitle>Definiere den Zeitraum in dem die Uhr eingeschaltet/beleuchtet sein soll.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Has to be repacled by circluar slider...</p>
        <div class="custom-slider">
          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        </div>

      </ion-card-content>
    </ion-card>

<br>

    <ion-button *ngIf="isDev()" id="dev-button" expand="block" (click)="updateRGB()">Senden</ion-button>

  </div>

<!--  <ion-tabs>-->
<!--    &lt;!&ndash; Tab bar &ndash;&gt;-->
<!--    <ion-tab-bar slot="bottom">-->
<!--      <ion-tab-button tab="color">-->
<!--        <ion-icon name="color-filter-outline"></ion-icon>-->
<!--      </ion-tab-button>-->
<!--      <ion-tab-button tab="time">-->
<!--        <ion-icon name="time-outline"></ion-icon>-->
<!--      </ion-tab-button>-->
<!--    </ion-tab-bar>-->
<!--  </ion-tabs>-->
</ion-content>
