<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
    <ion-button slot="secondary" color="none">
      <ion-icon name="wifi" style="color: green" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true" on-touchend="sendApiRequest()">

  <div id="container"  class="center">
    <h3>Farbe wählen</h3>
    <br>
    <center><div id="picker"></div></center>
<br>

  <!--  <ion-button expand="block" (click)="sendApiRequest()">Senden</ion-button> -->

  </div>

<!--  <ion-tabs>-->
<!--    &lt;!&ndash; Tab bar &ndash;&gt;-->
<!--    <ion-tab-bar slot="bottom">-->
<!--      <ion-tab-button tab="color">-->
<!--        <ion-icon name="color-filter-outline"></ion-icon>-->
<!--      </ion-tab-button>-->
<!--      <ion-tab-button tab="time">-->
<!--        <ion-icon name="time-outline"></ion-icon>-->
<!--      </ion-tab-button>-->
<!--    </ion-tab-bar>-->
<!--  </ion-tabs>-->
</ion-content>
