<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      Meine Wortuhr
    </ion-title>
    <ion-button slot="secondary" color="none" (click)="presentAlert()">
      <!-- <ion-text id="wifi-status-text">Verbinden... &nbsp;</ion-text> -->
      <ion-icon  id="wifi-status" name="wifi" style="color: red;" ></ion-icon>
      </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  <div id="container">

    <!-- Color Picker -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Farbe</ion-card-title>
        <ion-card-subtitle>Farbe der Uhr anpassen</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <center>
          <div id="picker" on-touchend="updateRGB()"></div>
          <br>
          <table class="quick-color-table">
            <tr>
              <td>
                <div (click)="updateWithQuickColor(254, 0, 0)" class="quick-color-circle" style="background-color: red;" id="quick-red"></div>
              </td>
              <td>
                <div (click)="updateWithQuickColor(0, 0, 254)" class="quick-color-circle" style="background-color: blue;" id="quick-blue"></div>
              </td>
              <td>
                <div (click)="updateWithQuickColor(226, 0, 116)" class="quick-color-circle" style="background-color: magenta;" id="quick-magenta"></div>
              </td>
            </tr>
          </table>


        </center>

      </ion-card-content>
    </ion-card>

    <!-- Nachtschaltung -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Zeitschaltung</ion-card-title>
        <ion-card-subtitle>Definiere den Zeitraum in dem die Uhr eingeschaltet/beleuchtet sein soll.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <p>Has to be repacled by circluar slider...</p>
        <div class="custom-slider">
          <ngx-slider [(value)]="minValue" [(highValue)]="maxValue" [options]="options"></ngx-slider>
        </div>

      </ion-card-content>
    </ion-card>

    <!-- Settings -->
    <ion-card>
      <ion-card-header>
        <ion-card-title>Entwickler Einstellungen</ion-card-title>
        <ion-card-subtitle>Diese Einstellungen werden nur für Entwickler angezeigt.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>

        <ion-item>
          <ion-input value="{{getCurrentServerUrl()}}" (ionChange)="onChangeServerUrl($event.target.value)">Server &nbsp;&nbsp;</ion-input>
          <button clear slot="end">Set</button>
        </ion-item>
      </ion-card-content>
    </ion-card>

<br>

    <ion-button *ngIf="isDev()" id="dev-button" expand="block" (click)="updateRGB()">Senden</ion-button>

  </div>

<!--  <ion-tabs>-->
<!--    &lt;!&ndash; Tab bar &ndash;&gt;-->
<!--    <ion-tab-bar slot="bottom">-->
<!--      <ion-tab-button tab="color">-->
<!--        <ion-icon name="color-filter-outline"></ion-icon>-->
<!--      </ion-tab-button>-->
<!--      <ion-tab-button tab="time">-->
<!--        <ion-icon name="time-outline"></ion-icon>-->
<!--      </ion-tab-button>-->
<!--    </ion-tab-bar>-->
<!--  </ion-tabs>-->
</ion-content>
